
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@204&display=swap');


*{
    margin: 0;
    border: 0;
    padding-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    
}


body {
    font-family: Genos, Verdana, Geneva, Tahoma, sans-serif;
    color: darkgreen;
    background-color: #ccff99;
}

.heading {
    color: darkgreen;
    text-align: center;
    font-weight: 600;
    font-family: Genos, Verdana, Geneva, Tahoma, sans-serif;
}

.choose-levels {
    text-align: center;
    font-family: Genos, Verdana, Geneva, Tahoma, sans-serif;
}

#easy-p {
    background-color: yellow;
    font-family: Genos, Verdana, Geneva, Tahoma, sans-serif;
}

#med-p {
    background-color: deeppink;
    font-family: Genos, Verdana, Geneva, Tahoma, sans-serif;

}

#har-p {
    background-color: forestgreen;
    font-family: Genos, Verdana, Geneva, Tahoma, sans-serif;
}

.game-area {
    text-align: center;
    font-family: Genos, Verdana, Geneva, Tahoma, sans-serif;
}

#start {
    font-family: Genos, Verdana, Geneva, Tahoma, sans-serif;
    background-color: orangered;
    font-stretch: ultra-expanded;
}

#moves {
    background-color: orange;

}

#timer {
    background-color: orange;
}

.row {
    text-align: center;
}


.card {
    display: inline-block;
    width: 60px;
    height: 60px;
    

}

.card-selected {
    background-size: 99%;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
}

.card-unselected {
    background-size: 99%;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
}
